<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %>
    <%= form.collection_select :user_id, User.all, :id, :name, class: "dropdown-menu" %>
  </p>
  
  <p>
    <%= form.text_area :body, :cols => "100", :rows => "10" %>
  </p>

  <p>
    <%= form.submit 'Submit', class: "btn btn-default btn-primary" %>
  </p>
<% end %>
