<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %>
    <%= form.collection_select :user_id, User.all, :id, :name %>
  </p>
  
  <p>
    <%= form.label :body %>
    <%= form.text_field :body %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
