<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :user %><br>
    <%= form.collection_select(:user_id, User.all, :id, :name) %>
  </p>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "form-control" %>
  </p>

  <p>
    <%= form.label :summary %><br>
    <%= form.text_field :summary, class: "form-control" %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, class: "form-control" %>
  </p>
 
  <p>
    <%= form.label :address %><br>
    <%= form.text_area :address, class: "form-control" %>
  </p>

  <p>
    <%= form.label :whoppers %><br>
		<div class="field">
			<div id="star-rating"></div>
			<%= form.label :whoppers %>
			<%= form.text_field :whoppers %>
		</div>
  </p>

  <p>
    <%= form.submit 'Submit', class: "btn btn-default btn-primary" %>
  </p>
 
<% end %>

<script>
	$('.star-rating').raty({
		score: '0',
		path: '/assets'
	});
</script>
