<div class="container-fluid">
  <center>
    <p>
      <h2><%= @article.title %></h2>
    </p>

    <p>
      <%= @article.text %>
    </p>

    <h3>Comments</h3>
    <%= render @article.comments %>
 
    <h5>Add a comment</h5>
    <%= render 'comments/form' %>

    <%= link_to 'Edit', edit_article_path(@article) %>
    <%= link_to 'Delete', article_path,
        method: :delete,
        data: { confirm: 'R u sure?' } %>
    <%= link_to 'Return', { controller: :articles, action: 'index' } %>
  </center>
</div>
