<div class="container-fluid">
  <center>
    <p>
      <h2><%= @article.title %></h2>
    </p>

    <p>
      <%= @article.text %>
    </p>

    <h3>Comments</h3>
    <%= render @article.comments %>
 
    <h3>Whoppers</h3>
		<td><div class="star" data-score=<%= @article.whoppers.to_i %>></div></td>

		<h3>Location</h3>
		<td>
		<% if @article.address %>
		<iframe
		  width="600"
		  height="450"
		  frameborder="0" style="border:0"
	  	src="https://www.google.com/maps/embed/v1/place?key=<%= Rails.application.secrets.MAPS_KEY %>&q=burger+king+near+<%= @article.address.split(" ").join("+") %>" allowfullscreen>
		</iframe>
		<% end %>
		</td>

    <h5>Add a comment</h5>
    <%= render 'comments/form' %>

    <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-default" %>
    <%= link_to 'Delete', article_path,
        method: :delete,
        data: { confirm: 'R u sure?' }, class: "btn btn-danger" %>
    <%= link_to 'Return', { controller: :articles, action: 'index' }, class: "btn btn-default" %>
  </center>
</div>

<script>
	$('.star').raty({
		starOff: 'burger-empty.png',
		starOn: 'burger-full.png',
		readOnly: true,
		path: '/assets'
	});
</script>
