<!DOCTYPE html>
<html>
  <head>
    <title>Burger King Reviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar-expand-lg navbar-light bg-light" id="topbar">
      <div class="container-fluid">
        <nav class="navbar navbar-nav navbar-expand-lg navbar-light bg-dark">
          <%= link_to image_tag("logos/bk.png"), root_path %>
          <%= link_to "Articles", '/articles' %>
          <%= link_to "Users", '/users'  %>
        </nav>
        <nav class="navbar navbar-nav navbar-expand-lg navbar-light bg-dark navbar-right">
          <%= link_to 'Sign Up', root_path %>
        </nav>
      </div>
    </nav>
    <div class="container-fluid container-pf-nav-pf-vertical nav-pf-persistent-secondary">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
