<!DOCTYPE html>
<html>
  <head>
    <title>Burger King Reviews</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<div class="nav navbar">
      <div class="container-fluid">
	    	<ul class="nav nav-pills navbar-fixed-top">
  	      <li><%= link_to image_tag("logos/bk_mini.png"), root_path %></li>
	        <li><%= link_to "Articles", '/articles' %></li>
	        <li><%= link_to "Users", '/users' %></li>
	        <li><%= link_to "My Local", '/localbk' %></li>
	    	</ul>
			</div>
    </div>
    <div class="container-fluid container-pf-nav-pf-vertical nav-pf-persistent-secondary" id="main">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
